# APP
GIN_MODE = debug
PORT = 8080
# POSTGRES CREDENTIALS
POSTGRES_DRIVER = postgres
POSTGRES_PORT = 5432
POSTGRES_HOST =
POSTGRES_DATABASENAME = auth
POSTGRES_USERNAME = postgres
POSTGRES_PASSWORD = 1937 
SSLMODE = "disable"
#JWT, BCRYPT
SECRET_JWT_KEY = ""
SECRET_SALT = "" 
